#header {
  color: white;
  height: 52px;
  line-height: 50px;
  width: 100%;
  position: absolute;
}

#header > .container {
  position: absolute;
  display: inline-block;
  height: inherit;
  left: 20px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  top: -15px;
}

#header > .title {
  font-size: 20px;
}
