#footer {
  display: table;
  width: 100%;
  height: 180px;
  padding-top: 20px;
  background-color: black;
}

.icons-container {
  display: table-cell;
  vertical-align: middle;
}

.icon {
  cursor: pointer;
  opacity: 0.8;
  margin-right: 13px;
  color: #a9a9a9;
}

.icon:hover {
  opacity: 1;
  color: white;
}

.copyright {
  display: table-row;
  vertical-align: middle;
  color: #a9a9a9;
  opacity: 0.8;
  font-size: 13px;
}
